/*--------------------------------------------------------- 
  Empty file to override variables in user applications.

  To set your own colors, sizes or fonts just override this 
  file in your application and set variables according to
  globals/_variables.scss file.
  --------------------------------------------------------- */
$color-1:                        #FFFFFF !default;    // White
$color-2:                        #BBBBBB !default;    // Green
$color-3:                        #505050 !default;    // Light Blue
$color-4:                        #101010 !default;    // Dark Blue
$color-5:                        #C60F13 !default;    // Red
$color-6:                        #FF9300 !default;    // Yellow

